@media(min-width:370px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        color: #333;
        transition: background-color 0.3s, color 0.3s;
    }
    
  
    header {
        background-color: #0073e6;
        color: white;
        padding: 20px;
        text-align: center;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    
    nav ul li {
        margin: 0 15px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s;
    }
    
    nav ul li a:hover {
        color: #f34f03;
    }
    
    
    #modo-escuro {
        background-color: #222;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 10px;
    }
    

    .grid-container {
    display:flex;
    flex-direction:column;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
   
    margin:auto;
}
.grid-item {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray ;
    transition: transform 0.3s;

}
.grid-item.expandido {
   
    height: auto;
    background-color: #f0f0f0;
}
.grid-item:hover {
    transform: scale(1.05);
}
.dark-modo .grid-item.expandido{
    background: #333;
}
.ler-mais {
    background:#0073e6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
.ler-mais:hover {
    background: rgb(212, 208, 208);
    transform: scale(1.1);
}
    
   
    footer {
        text-align: center;
        padding: 10px;
        background-color: #0073e6;
        color: white;
        margin-top: 20px;
    }
    
    
    .dark-mode {
        background-color: #121212;
        color: #ddd;
    }
    
    .dark-mode header, .dark-mode footer {
        background-color: #1e1e1e;
    }
    
    .dark-mode .grid-item {
        background-color: #333;
        color: white;
    }
    .grid-item.expandido {
   
   height: auto;
      }
.dark-mode  .grid-item .expandido{
background-image: #333;
}

}